
<div class="overall" style="margin-bottom: 80px; background-color: rgb(220, 221, 221);">
    <div class="container-fluid">
        <div class="row col-12" style="text-align: center;">
           <p style="font-weight: 600; margin-top: 50px; color:rgb(226, 71, 107);">BLOGS</p>
       <h2 style="font-weight: bold; margin-top: 20px;">Our Latest News</h2>
        </div>
        <div class="content" style="margin-top: -20px;">
            <p style=" margin-top: 35px; text-align: center; font-weight: 500;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
                    <p style="text-align: center; margin-top: -10px; font-weight: 500;">alteration in some form.</p>
        </div>
    </div>


<div class="container-fluid">
    <div class="card-container">
        <!-- Card 1 -->
        <div class="card">
            <img src="/assets/phone9.jpg" alt="User 1">
            <div class="card-info">
                <div class="user-name" style="color: rgb(226, 71, 107);">Blog</div>
                <div class="content">
                    <h5 style="font-weight: bold;">Boost your conversion rate</h5>
                    <p>Lorem ipsum dolor sit amet, adiptscing either,sad<br>
                        diam nonumy eirmod tempor ividut dolore<br>
                        magna.</p>
                        <div class="circle">
                            <img src="/assets/phone18.png" alt="Mini Circle Image">
                            <h6 style="font-weight: 900; margin-top: 25px; margin-left: 10px;">Scarlet Johanson</h6>
        <p style="margin-top: 45px; margin-left: -135px; font-weight: bold;">Mar 15,2023 = 5 min read</p>
                        </div>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
            <img src="/assets/phone10.jpeg" alt="User 2">
            <div class="card-info">
         
                <div class="user-name" style="color: rgb(226, 71, 107);">Video</div>
                <div class="content">
                    <h5 style="font-weight: bold;">How to use search engine</h5>
                    <p>Lorem ipsum dolor sit amet, adiptscing either,sad<br>
                        diam nonumy eirmod tempor ividut dolore<br>
                        magna.</p>
                        <div class="circle">
                            <img src="/assets/phone19.jpg" alt="Mini Circle Image">
                            <h6 style="font-weight: 900; margin-top: 25px; margin-left: 10px;">Dwyane Johnson</h6>
        <p style="margin-top: 45px; margin-left: -135px; font-weight: bold;">Feb 10,2023 = 7 min read</p>
                        </div>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="card">
            <img src="/assets/phone11.webp" alt="User 3">
            <div class="card-info">
                <div class="user-name"  style="color: rgb(226, 71, 107);">Marketing</div>
                <div class="content">
                    <h5 style="font-weight: bold;">Awesome ways to boost sales</h5>
                    <p>Lorem ipsum dolor sit amet, adiptscing either,sad<br>
                        diam nonumy eirmod tempor ividut dolore<br>
                        magna.</p>
                          <div class="circle">
        <img src="/assets/phone14.jpg" alt="Mini Circle Image">
        <h6 style="font-weight: 900; margin-top: 25px; margin-left: 20px;">Francis</h6>
        <p style="margin-top: 45px; margin-left: -58px; font-weight: bold;">Jan 20,2023 = 6 min read</p>
    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="height: 70px; background-color:#fff">

    <div class="container">
        <!-- Logo 1 -->
        <img src="/assets/slide1.png" alt="Logo 1" class="logo" style="animation-delay: 0s;">
        <!-- <i class='bx bxl-amazon'style="animation-delay: 0s;"></i> -->
        <!-- Logo 2 -->
        <img src="/assets/slide2.png" alt="Logo 2" class="logo" style="animation-delay: 2s;">
        
        <!-- Logo 3 -->
        <img src="/assets/slide3.png" alt="Logo 3" class="logo" style="animation-delay: 4s;">
        
         <!-- Logo 2 -->
         <img src="/assets/slide4.png" alt="Logo 2" class="logo" style="animation-delay: 6s;">
        
          <!-- Logo 2 -->
        <img src="/assets/slide5.png" alt="Logo 2" class="logo" style="animation-delay: 8s;">
        
        <!-- Add more logos as needed, adjusting the animation-delay for each -->
    </div>

</div> 