    .navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: rgb(226, 71, 107);
    padding: 10px 20px; 
    
}


.navbar-logo {
    color: white; 
    font-size: 24px;
    text-decoration: none; 
}


.navbar-links {
    display: flex;
    justify-content: center; 
    list-style: none; 
    margin: 0;
    padding: 0; 
    
}


.navbar-links li {
    margin: 0 10px;

}


.navbar-button {
    background-color:rgb(226, 71, 107); 
    color: #fff;
    border: 1px solid #fff; 
    padding: 10px 20px; 
    text-decoration: none; 
}


.navbar-button:hover {
    background-color: #f90606;
    color: white; 
}

.navbar a:hover {
    color: rgb(31, 188, 255);
}

.navbar a {
    text-decoration: none;
    color: #fff;
}
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links {
        margin-top: 20px;
    }

    .navbar-links li {
        margin: 10px 0;
    }

}    
        
        
        
        
        
        
        
        
        .content {
            text-align: center;
            padding: 20px;
        } 

        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; 
        }

       
        .card {
            width: calc(33.33% - 20px); 
            margin: 10px;
            padding: 20px;
            border: 1px solid #ccc;
            text-align: center;
        }

        @media (min-width: 768px) {
            .card-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: -20px;
            }

            .card {
                width: calc(33.33% - 20px);
                margin: 10px;
                padding: 20px;
                border: 1px solid #bdbdbd;
                text-align: center;
            }
        }

        @media (max-width: 767px) {
            .card-container {
                display: block;
            }

            .card {
                width: 100%;
                margin: 10px 0;
                padding: 20px;
                border: 1px solid #ccc;
                text-align: center;
            }
        }

.show{
width: 350px;
height: 170px;
}

.name {
    width: 350px; 
    height: 170px;
}


.overall{
    background-color: #efe7e7;
}

.icon {
     background-color: rgb(226, 71, 107);
     width: 50px;
       font-size: 25px;
        justify-content: center;
        color: #fff;
        padding: 10px; 
             
}

