
<div class="overall">
<div class="content">
    <p style="margin-top: 15px; color:rgb(226, 71, 107);">FEATURES</p>
</div>
<div class="content">
    <h3 style="justify-content: center; margin-top: -35px;">Your Experience Gets Better And Better</h3>
    <h3 style="text-align: center;">Over Time.</h3>
</div>
<div class="content">
    <p style=" margin-top: -35px; font-weight: 500;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
            <p style="text-align: center; margin-top: -10px; font-weight: 500;">alteration in some form.</p>
</div>
<div class="card-container">
    <div class="first" style="display: flex;">
    <div class="card show">
        <i class='bx bx-cloud-upload icon'></i>
        <h5 style="font-weight: bold; margin-left:30px; margin-top: -30px;">Push to Deploy</h5>
        <p style="margin-top: 10px;">It is a long established fact that a reader will be 
distracted by the readable content of a page at
its layout.
        
    </div>
    <div class="card show">
        <i class='bx bx-lock icon'></i>
        <h5 style="font-weight: bold; margin-left:30px; margin-top: -30px;">SSL Certificates</h5>
        <p style="margin-top: 10px;">It is long established fact that a reader will be 
            distracted by the readable content of a page at
        its layout.</p>
    </div>
    <div class="card show">
        <i class='bx bx-refresh icon'></i>
        <h5 style="font-weight: bold; margin-left:30px; margin-top: -30px;">Simple Queues</h5>
        <p style="margin-top: 10px;">It is long established fact that a reader will be 
            distracted by the readable content of a page at
            its layout.
        </p>
    </div>
    </div>
    <div class="second" style="display: flex;">
    <div class="card name">
        <i class='bx bx-shield icon'></i>
        <h5 style="font-weight: bold; margin-left:30px; margin-top: -30px;">Advanced Security</h5>
        <p style="margin-top: 10px;">It is a long established fact that a reader will be
            distracted by the readable content of a page at 
            its layout.
        </p>
    </div>
    <div class="card name">
        <i class='bx bx-cog icon'></i>
        <h5 style="font-weight: bold; margin-left:30px; margin-top: -30px;">Powerful API</h5>
        <p style="margin-top: 10px;">It is a long established fact that a reader will be
            distracted by the readable content of a page at 
            its layout.
       </p>
    </div>
    <div class="card name">
        <i class='bx bx-layer icon'></i>
        <h5 style="font-weight: bold; margin-left:30px; margin-top: -30px;">Database Backups</h5>
        <p style="margin-top: 10px;">It is a long established fact that a reader will be
            distracted by the readable content of a page at 
            its layout.
       </p>
    </div>
    </div>
</div>
</div>
