.card{
    width: 350px;
    height: 340px;
    margin-left: 300px;
    margin-top: 80px;
    padding: 31px 40px;
    border: 1px solid gray;
    box-shadow: 0 0 10px;
}

.design{
    margin-top: 20px;
}
.sibn{
    width:270px;
    background-color: rgb(255, 94, 0);
}
.check{
    margin-left: 5px;
}
.forgot{
    color: orangered;
    text-decoration: none;
}
.ctbn{
    margin-top: 20px;
}