<div class="container">
    <div class="card">
        <h3>Change Password</h3>
        <form style="margin-top: 10px;" [formGroup]="changeForm">
            <div class="form-group design">
            <input type="password" placeholder="Password" class="form-control" formControlName="Password">
            </div>
<br>
<div class="form-group design">
    <input type="password" placeholder="Confirm Password" class="form-control" formControlName="ConfirmPassword">
    </div>
<br>
<button type="button" class="btn btn-warning sibn text-light" style="margin-top: 10px;">CONTINUE</button>
        </form>
    </div>
</div>
