
<div class="overall">
<div class="container mt-3">
 <div class="row col-12">
    <div class="col-4"> 
<h4 style="color: #fff;margin-left: 50px; padding-top: 80px;">Appvilla</h4>
<p style="color: #fff; margin-left: 15px; margin-top: 10px;">Making the world a better place through<br>
    constructing elegant hierarchies.</p>
<br>

<div class="icon-container">
<a href="https://www.facebook.com/"><i class='bx bxl-facebook' style='color:#ffffff'></i></a>
<a href="https://twitter.com/?lang=en-in"><i class='bx bxl-twitter' style='color:#ffffff' ></i></a>
<a href="https://www.instagram.com/"><i class='bx bxl-instagram' style='color:#ffffff' ></i></a>
<a href="https://www.linkedin.com/login"><i class='bx bxl-linkedin-square' style='color:#ffffff'></i></a>
<a href="https://www.youtube.com/"><i class='bx bxl-youtube' style='color:#ffffff' ></i></a>
<a href="https://web.whatsapp.com/"><i class='bx bxl-whatsapp' style='color:#ffffff'></i></a>
</div>
<br>
<p style='color:#ffffff; margin-left: 12px;'>Designed and Developed by UIsdeck</p>

    </div>

<div class="first-content col-2" style="color: #fff; padding-top: 90px;">
<h5 style="color: #fff;">Solutions</h5>
<p style="color: #fff;">Marketing</p>
<p style="color: #fff;">Analytics</p>
<p style="color: #fff;">Commerce</p>
<p style="color: #fff;">Insights</p>
<p style="color: #fff;">Promotion</p>
</div>

<div class="second-content col-2" style="padding-top: 90px;">
    <h5 style="color: #fff;">Support</h5>
    <p style="color: #fff;">Pricing</p>
    <p style="color: #fff;">Documentation</p>
    <p style="color: #fff;">Guides</p>
    <p style="color: #fff;">API Status</p>
    <p style="color: #fff;">Live Support</p>
    </div>


    <div class="third-content col-2" style="padding-top: 90px;">
        <h5 style="color: #fff;">Company</h5>
        <p style="color: #fff;">About Us</p>
        <p style="color: #fff;">Our Blog</p>
        <p style="color: #fff;">Jobs</p>
        <p style="color: #fff;">Press</p>
        <p style="color: #fff;">Contact Us</p>
        </div>


        <div class="fourth-content col-2" style="padding-top: 90px;">
            <h5 style="margin-bottom: 15px; color: #fff;">Legal</h5>
            <p style="color: #fff">Terms & Conditions</p>
            <p style="color: #fff;">Privacy Policy</p>
            <p style="color: #fff;">Catering Service</p>
            <p style="color: #fff;">Customer Service</p>
            <p style="color: #fff;">Innovation</p>
            </div>
<div style="
    /* background-color: lightgrey; */
    width: 1150px;
    border: 1px solid rgb(168, 166, 166);
    padding: 50px;
    margin: 20px;">
            
            <div class="subscription-box">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                <div class="content">
                  <h2>Subscribe To Our whatsapp Comedy</h2>
                  <p>The latest news,articles, and resources, sent to your inbox weekly.</p>
                </div>
                        </div>
             
                <div class="col-sm-4" style="display: flex; margin-top: 40px;">
                  <form [formGroup]="emailForm">
                <div class="subscribe-form">
                  <div class="form-group">
                  <input type="email" style="width: 250px; background-color: #313030;" placeholder="Enter your email" formControlName="email">
                </div>
              </div>
            </form>
                <div class="col-sm-3" style="margin-left: 10px;">
                  <button class="subscribe-button" (click)="addemail(this.emailForm.value)" [disabled]="this.emailForm.invalid" style="background-color: rgb(226, 71, 107); color: #fff;">Subscribe</button>
                </div>
              
                </div>
                    </div>
                    <button type="button" routerLink="/home" class="btn btn-warning" style="float:right">
                      <i class='bx bx-chevrons-up' style="color:#ffffff;"></i>
                    </button>
                    
              </div>
            </div>
        
    </div>