
<!-- First Content -->
<div class="container">
     <div class="row col-12" style="text-align: center;">
        <p style="font-weight: 600; margin-top: 30px; color:rgb(226, 71, 107);">Overview</p>
    </div>
    <div class="left-side" style="margin-left: -10px; margin-top: -30px;">
        <div class="icon"><i class='bx bx-download'></i></div>
        <div class="content" style="margin-top: 40px;"><h2>1,25,000Customers Using The</h2>
        <h2>Application</h2></div>
        <div class="content" style="margin-top: 20px; font-weight: 500;"><p>Collaborate over projects with your team and clients optimised for mobile and tablet don't
        let show page speeds drive our innovative platform emplowers anyone to convert clikes ou'll public your first<br>
        landing page in minutes.</p></div>
        <button type="button" class="btn btn-warning" style="margin-top: 15px; background-color:rgb(226, 71, 107); color: #fff;">Get Started</button>
    </div>
    <div class="right-side" style=" margin-top: -40px;">
        <img class="image" src="/assets/phone2.png" alt="Image">
    </div>
</div>

<!-- Second Conent -->

<div class="container" style="display: flex;">
    <img class="image" style="margin-top: 60px; padding-bottom: 20px;"  src="/assets/phone3.png" alt="Image">
<div style="margin-top: -30px;">   
<div class="content" style="margin-top: 150px; margin-bottom: 10px; ">
       
    <div class="icon  mb-5"><i class='bx bx-layout'></i></div>
    <h2>Seamless Loyalty</h2>
    
        <p style="margin-top: 20px; font-weight: 500;">Collaborate over projects with your team and clients optimised<br> 
            for mobile and tablet don't let show page speeds <br>
            drive our innovative platform emplowers anyone to<br> convert clikes ou'll public your first landing page in minutes.</p>
    
        </div>
    <button type="button" class="btn btn-warning" style="width:160px;height: 40px; margin-bottom: 120px; margin-top: 10px;  margin-left: 10px; background-color: rgb(226, 71, 107); color: #fff;">Get Started</button>

</div>
</div>



<div class="container-fluid" style="background-color:rgb(226, 71, 107); padding: 80px;">
    
    <div class="centered-content">
        <h2 style="text-align: center; color: #fff;">Trusted by developers from over 80 planets</h2>
        <p style="text-align: center; color: #fff;">There are many variations of passages of Ipsum available, but the majority.</p>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 50px; margin-bottom: -30px;">
    <div class="small-content">
        <h1 style="color: #fff; font-weight: bold;">100%</h1>
        <p style="color: #fff;">Satisfaction</p>
    </div>
    <div class="small-content">
        <h1 style="color: #fff; font-weight: bold;">120K</h1>
        <p style="color: #fff;">Happy Users</p>
    </div>
    <div class="small-content">
        <h1 style="color: #fff; font-weight: bold;">125K+</h1>
        <p style="color: #fff;">Downloads</p>
    </div>
</div>
</div>
