
<div class="overall">
<div class="container-fluid">
    <div class="row col-12" style="text-align: center;">
       <p style="font-weight: 600; margin-top: 30px; color:rgb(226, 71, 107);">Pricing</p>
   <h2 style="font-weight: bold;">Pricing Plan</h2>
    </div>
    <div class="content" style="margin-top: -20px;">
        <p style=" margin-top: 35px; text-align: center; font-weight: 500;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
                <p style="text-align: center; margin-top: -10px; font-weight: 500;">alteration in some form.</p>
    </div>

    <div class="container-fluid con">
        <div class="card">
            <h5 style="font-weight: bold;">Hobby</h5>
            <p>All the basics for starting a new<br>
            business</p>

            <div style="display: flex;">
                <h3>$12</h3><h6 style="color: gray; margin-top: 10px;">/mo</h6></div>
<button type="button" routerLink="https://blog.appsumo.com/website-ideas/" class="btn btn-dark text-light" style="margin-top: 5px;">Buy Hobby</button>
<hr>
<h6 style="font-weight: bold;">WHAT'S INCLUDED</h6>
<p><i class='bx bx-chevron-down-circle'></i>Cras justo odio.</p>
<p><i class='bx bx-chevron-down-circle'></i>Dapibus ac facitisis in.</p>
<p><i class='bx bx-chevron-down-circle'></i>Morbi ieo risus.</p>
<p><i class='bx bx-chevron-down-circle'></i>Potenti fees, in cras liguls.</p>
        </div>
        <div class="card">
            <h5 style="font-weight: bold;">Freelancer</h5>
            <p>All the basics for starting a new<br>
            business</p>

            <div style="display: flex;">
                <h3>$24</h3><h6 style="color: gray; margin-top: 10px;">/mo</h6></div>
<button type="button"  href="https://blog.appsumo.com/website-ideas/" class="btn btn-dark text-light" style="margin-top: 5px;">Buy Hobby</button>
<hr>
<h6 style="font-weight: bold;">WHAT'S INCLUDED</h6>
<p><i class='bx bx-chevron-down-circle'></i>Cras justo odio.</p>
<p><i class='bx bx-chevron-down-circle'></i>Dapibus ac facitisis in.</p>
<p><i class='bx bx-chevron-down-circle'></i>Morbi ieo risus.</p>
<p><i class='bx bx-chevron-down-circle'></i>Potenti fees, in cras liguls.</p>
        </div>
        <div class="card">
            <h5 style="font-weight: bold;">Startup</h5>
            <p>All the basics for starting a new<br>
            business</p>

            <div style="display: flex;">
                <h3>$32</h3><h6 style="color: gray; margin-top: 10px;">/mo</h6></div>
<button type="button"  href="https://blog.appsumo.com/website-ideas/" class="btn btn-dark text-light" style="margin-top: 5px;">Buy Hobby</button>
<hr>
<h6 style="font-weight: bold;">WHAT'S INCLUDED</h6>
<p><i class='bx bx-chevron-down-circle'></i>Cras justo odio.</p>
<p><i class='bx bx-chevron-down-circle'></i>Dapibus ac facitisis in.</p>
<p><i class='bx bx-chevron-down-circle'></i>Morbi ieo risus.</p>
<p><i class='bx bx-chevron-down-circle'></i>Potenti fees, in cras liguls.</p>
        </div>
        <div class="card">
            <h5 style="font-weight: bold;">Enterprise</h5>
            <p>All the basics for starting a new<br>
            business</p>
<div style="display: flex;">
            <h3>$48</h3><h6 style="color: gray; margin-top: 10px;">/mo</h6></div>
               <button type="button" class="btn btn-dark text-light" style="margin-top: 5px;" >Buy Hobby</button>

<hr>
<h6 style="font-weight: bold;">WHAT'S INCLUDED</h6>
<p><i class='bx bx-chevron-down-circle'></i>Cras justo odio.</p>
<p><i class='bx bx-chevron-down-circle'></i>Dapibus ac facitisis in.</p>
<p><i class='bx bx-chevron-down-circle'></i>Morbi ieo risus.</p>
<p><i class='bx bx-chevron-down-circle'></i>Potenti fees, in cras liguls.</p>
        </div>
    </div>
</div>



