<!-- <app-home></app-home>
<app-features></app-features>
<app-overview></app-overview>
<app-pricing></app-pricing>
<app-team></app-team>
<app-faq></app-faq>
<app-blug></app-blug>
<app-contact></app-contact> -->


<!-- 
    <header class="navbar">
        <div class="logo">Appvilla</div>
        <nav class="nav-items">
            <ul>
                <li><a href="#" routerLink="">Home</a></li>
                <li><a href="#" routerLink="">Features</a></li>
                <li><a href="#" routerLink="">Overview</a></li>
                <li><a href="#" routerLink="">Pricing</a></li>
                <li><a href="#" routerLink="">Team</a></li>
                <li><a href="#" routerLink="">Faq</a></li>
                <li><a href="#" routerLink="">Blug</a></li>
                <li><a href="#" routerLink="">Contact</a></li>
            </ul>
        </nav>
        <div class="signin-button">
            <button>Sign In</button>
        </div>
    </header> -->



    <div class="navbar navbar-expand">

        <a href="#" class="navbar-logo">Appvilla</a>
         
        <ul class="navbar-links">
            <li><a href="#home" routerLink="/home">Home</a></li>
            <li><a href="#Features" routerLink="/features">Features</a></li>
            <li><a href="#Overview" routerLink="/overview">Overview</a></li>
            <li><a href="#Pricing" routerLink="/pricing">Pricing</a></li>
            <li><a href="#Team" routerLink="/team">Team</a></li>
            <li><a href="#Blug" routerLink="/blug">Blug</a></li>
            <li><a href="#Contact" routerLink="/contact">Contact</a></li>
        </ul>
        <a href="#" routerLink="/signin" class="super">Sign In</a> 
        <!-- <a href="#signup" routerLink="/signup" class="navbar-button">Got it Now</a> -->
      
    </div> 
    

<router-outlet></router-outlet>