
    <div class="container-fluid" style="background-color:  rgb(226, 71, 107);">
        
        <div class="left-side">
           
            <div class="content" style="margin-top: 120px;">
                <h2 style="color: #fff;">A Powerful App For Your<br>
                    Business.</h2>
                    <p style="color: #d3caca; margin-top: 20px;">From open source to pro services, Piges helps you to build, deplay,test<br>
                        and monitor apps.</p>
            </div>
           <div style="margin-top: -20px;">
            <a href="https://www.apple.com/in/app-store/" class="button design" ><i class='bx bxl-apple'></i>App Store</a>&nbsp;
    <a href="https://play.google.com/store/games?device=windows&utm_source=apac_med&hl=en-IN&utm_medium=hasem&utm_content=Oct0121&utm_campaign=Evergreen&pcampaignid=MKT-EDR-apac-in-1003227-med-hasem-py-Evergreen-Oct0121-Text_Search_BKWS-BKWS%7CONSEM_kwid_43700065205026415_creativeid_535350509927_device_c&gclid=CjwKCAjwvfmoBhAwEiwAG2tqzO0a3nUMYkAvheadBF6XjO-rKiJvXYGcTh41pQLQGBTBrhU7tSWSdxoCbKQQAvD_BwE&gclsrc=aw.ds&pli=1" class="button designs"><i class='bx bxl-play-store text-light' style="margin-top: 60px;"></i>Google Play</a>
           </div>
</div>
        <div class="right-side">
            <img class="image" src="/assets/phone1.png" alt="Image">
        </div>
    </div>


